/.vs
/*/bin
/*/obj
/*/*.user
/*/appsettings.Development.json
/*/.vs
/Slp.Indexer/Logs
/Slp.API/Properties/PublishProfiles/*.pubxml
/Slp.API/Properties/PublishProfiles/*.user
/Slp.API/Properties/ServiceDependencies/*
/Slp.Indexer/Properties/PublishProfiles/*.pubxml
/Slp.Indexer/Properties/PublishProfiles/*.pubxml.user
/Slp.API/.config/dotnet-tools.json
